apiVersion: v1
kind: Secret
metadata:
  name: aws-dns-creds
  namespace: dns-infra
  labels:
    folder: dns-infra
    subFolder: external-dns-aws
    environment: demo
data:
  AWS_ACCESS_KEY: $AWS_ACCESS_KEY
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
type: Opaque