apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: web-ingress-auth
  namespace: linkerd
  labels:
    folder: service-mesh
    subFolder: linkerd
    environment: demo
data:
  auth: $LINKERD_BASIC_AUTH
