apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: tap-k8s-tls
  namespace: linkerd
  labels:
    folder: service-mesh
    subFolder: linkerd
    environment: demo
data:
  tls.crt: $TLS_CRT
  tls.key: $TLS_KEY
