apiVersion: v1
kind: Secret
metadata:
  name: webhook-issuer-tls
  namespace: linkerd
  labels:
    folder: service-mesh
    subFolder: linkerd
    environment: demo
type: kubernetes.io/tls
data:
  tls.crt: $TLS_CRT
  tls.key: $TLS_KEY